<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.conference">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".application.ConferenceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".activity.OpinionActivity" />
        <activity
            android:name=".activity.AddResultActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AddOpinionActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activity.ResultCardActivity" />
        <activity android:name=".activity.ResultCardsActivity" />
        <activity android:name=".activity.ChooseUserActivity" />
        <activity android:name=".activity.PhotoReviewerActivity" />
        <activity android:name=".activity.ConferenceSettingsActivity" />
        <activity android:name=".activity.CreateDialogueActivity" />

        <service
            android:name=".server.MessageService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".server.firebase.ConferenceFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.CreateConferenceActivity" />
        <activity android:name=".activity.AddContactActivity" />
        <activity android:name=".activity.MeetActivity" />
        <activity android:name=".activity.DialogueActivity" />
        <activity
            android:name=".activity.ConferenceActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>